extends layouts/main

block content
  script(type="text/x-handlebars" data-template-name="cooks")
    include templates/cookList.html

  script(type="text/x-handlebars" data-template-name="cook")
    include templates/cookViewer.html
